.acommerce .item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin-bottom: 16px;
  min-height: 400px;
  padding: 4px 8px;
}

.acommerce .item:hover {
  border: 1px solid rgba(0,0,0,.125);
  -webkit-box-shadow: 0 0 5px 1px rgba(102, 102, 102, 1);
  -moz-box-shadow:    0 0 5px 1px rgba(102, 102, 102, 1);
  box-shadow:         0 0 5px 1px rgba(102, 102, 102, 1);
}

.acommerce .item-body {
  flex: 1 1 auto;
  min-height: 1px;
}

.acommerce .item-title {
  min-height: 32px;
}

.acommerce .item .price {
  position: absolute;
  bottom: 8px;
  font-size: 2rem;
  font-weight: 600;
}

.acommerce .item .stars .checked {
  color: red;
}

.acommerce .item .stars .fa {
  font-size: 2rem;
}

.acommerce .pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  justify-content: center;
}

.acommerce .page-item {
  margin-bottom: 0;
  margin-right: 16px;
}

.acommerce .page-item:last-child {
  margin-right: 0;
}

.acommerce .page-link {
  position: relative;
  display: block;
  padding: 0.75rem;
  font-size: 2rem;
  line-height: 1.5;
  color: #333;
  background-color: rgba(205, 92, 92, 0.6);
  width: 42px;
  text-align: center;
  font-weight: 600;
}

.acommerce .page-link:hover {
  z-index: 2;
  text-decoration: none;
  background-color: rgba(205, 92, 92, 1);
}

.acommerce .page-link.active {
  background-color: darkred;
}

.acommerce .page-item:last-child .page-link {
  margin-right: 0;
  color: #fff;
  background-color: lightslategray;
}


