<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<li class="level0 level-top ui-menu-item">
  <a href="<?php echo $this->getUrl('acommerce/index/test'); ?>"
     class="level-top ui-corner-all" role="menuitem">
    <span><?= __("aCommerce Homework") ?></span>
  </a>
</li>
