<?php

/**
 * @var \Monzatan\Acommerce\Block\Test $block
 */
$items = $block->getListJson();

$totalRecord = count($items);
?>
<div class="container-fluid acommerce">
  <h3>Items 1 - 12 of <?php echo $totalRecord; ?></h3>

  <div class="row">
      <?php foreach ($items as $_item) : ?>
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="item">
                  <img src="<?php echo $_item['image_url']; ?>" alt="image">
                  <div class="item-body">
                      <div class="item-title">
                          <h5><?php echo $_item['title']; ?></h5>
                      </div>
                      <p class="item-text"><?php echo $block->calculateDateDiffWithCurrentDate($_item['created_at']); ?></p>
                      <div class="stars">
                          <?php echo $block->getStarRating($_item['vote']); ?>
                      </div>
                  </div>
                  <p class="price">฿<?php echo number_format($_item['price'], 2); ?></p>
              </div>
          </div>
      <?php endforeach; ?>
  </div>

  <div class="row">
    <div class="col text-center">
      <ul class="pagination">
        <li class="page-item">
          <a href="#" class="page-link">1</a>
        </li>
        <li class="page-item">
          <a href="#" class="page-link">2</a>
        </li>
        <li class="page-item">
          <a href="#" class="page-link">
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

